.bgvideo__login {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

.register {
    padding: 0.6rem;
    color: #fff;
    border-radius: 1rem;
    background-color: #b3b3b361;
}