.video {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 91vh;
    scroll-snap-align: start;
}

.video__player {
    z-index: 10;
    align-self: center;
    width: 380px;
    height: 100%;
}

.video__thumbnail {
    position: absolute;
    width: 100%;
    filter: brightness(0.5) blur(10px);
    // transform: scaleX(1.5);
}

.container__btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.btn__play {
    background-image: url(../../../source/image/core/play-btn.png);
    width: 62px;
    height: 62px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.DivUnmuteButton {
    left: 12px;
    position: absolute;
    top: 72px;
    min-width: 139px;
    padding: 0px 16px;
    height: 36px;
    z-index: 1;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    backdrop-filter: blur(8px);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 1px;
    background: rgba(255, 255, 255, 0.85);
}
