@import '../../components/Global/media-queries.scss';

/* Box styles */
.commentBox {
    width: 100%;
    height: 64vh;
    overflow: scroll;
    padding: 0rem 4rem 4rem 4rem;
}

.reply__container {
    padding-left: 70px;
}

.reply__actionContainer {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-top: 1rem;

}

.reply__ActionText {
    display: flex;
    align-items: center;
    color: #666666;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;

    .chevronDownFill {
        margin-left: 0.4rem;
    }

    .chevronUpFill {
        margin-left: 0.4rem;
        transform: rotate(180deg);
    }
}


.children__comment {
    padding-left: 3rem;
}

.footerComment {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 1rem 1rem 1rem 0rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
}

.inputComment {
    width: 70%;
    margin-right: 1rem;
}

@include ResponsiveCustom('max', 600px) {
    .btnCommentMd {
        display: none;
    }
}

@include ResponsiveCustom('min', 600px) {
    .btnCommentSm {
        display: none;
    }
}

.EmojiPicker {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 99;
}

.textField__mui {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}

.authorLabel {
    font-weight: 600;
    display: inline-block;
    color: var(--primary-btn-color);
}