@import '../../../Global/media-queries.scss';

.videoFooter__text--channel {
    font-weight: 600;
    font-size: 26px;
}

@include Responsive(SM) {
    .videoFooter__text--channel {
        font-size: 17px !important;
    }
}

.videoFooter__text--description {
    font-size: 22px;
}

.videoFooter__text--song {
    font-size: 22px;
}

@include Responsive(SM) {
    .videoFooter__text {
        max-width: 300px !important;
    }

    .videoFooter__text--description {
        font-size: 15px !important;
    }

    .videoFooter__text--song {
        font-size: 15px !important;
    }
}

.videoFooter {
    position: absolute;
    width: 100%;
    bottom: 4%;
    left: 2%;
    color: white;
    display: flex;
    z-index: 10;
    align-items: flex-end;
}
.videoFooter__text {
    flex: 1;
    width: 70%;
    max-width: 600px;
}
.videoFooter__text > h3 {
    padding-bottom: 15px;
}
.videoFooter__text > p {
    padding-bottom: 15px;
}
.videoFooter__icon {
    position: absolute;
}
.videoFooter__ticker > .ticker {
    height: fit-content;
    width: 70%;
    margin-left: 30px;
}
.videoFooter__record {
    animation: spinTheRecord infinite 5s linear;
    height: 40px;
    filter: invert(1);
    position: absolute;
    bottom: 0;
    right: 20px;
}

// .videoFooter__record {
//     animation: spinTheRecord infinite 5s linear;
//     height: 40px;
//     filter: invert(1);
//     position: absolute;
//     bottom: 0;
//     right: 20px;
// }
@keyframes spinTheRecord {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.videoFooter__song {
    position: relative;
    left: 40px;
}
