.videoSideBar__text {
    font-size: 1rem;
}

.videoSidebar {
    position: absolute;
    height: 100%;
    right: 2%;
    color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3rem;
}

.videoSidebar__button:first-child {
    height: 80px;
    margin: 0 auto;
}

.videoSidebar__button {
    padding-bottom: 35px;
    text-align: center;
    cursor: pointer;
}

.follow__button {
    position: relative;
    bottom: 16px;
}

.videoSidebar__musicCover {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.diskMusic {
    width: 65px;
    height: 65px;
    background-size: cover;
    // filter: invert(1);
    animation: spinTheRecord infinite 5s linear;
    cursor: pointer;

}

.divMusic__Album {
    background-size: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 99;
    // filter: inherit;
    transform: scale(0.6);
}

@keyframes spinTheRecord {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}




.toggle-heart {
    background-color: red;
}