@import '../../Global/media-queries.scss';

.loading__container {
    position: fixed;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

@include ResponsiveCustom('max', 600px) {
    .loading__image {
        width: 6% !important;
    }
}

.loading__image {
    width: 3%;
}
