@import '../../Global/media-queries.scss';

.loading__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@include ResponsiveCustom('max', 600px) {
    .loading__image {
      width: 10% !important;
    }
}

.loading__image {
  width: 4%;
}
