.dark {
    background-color: #000 !important;
}

.btnNav__light {
    color: #fff !important;
}

/* START NAVIGATION */
.btnNavAction {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 65px !important;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    justify-content: space-between !important;
}


@media screen and (max-width: 380px) {
    .btnNavAction {
        justify-content: center !important;
    }
}

.btnVideo {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgb(206, 147, 216);
    border-radius: 50%;
    width: 1px;
    height: 75px;
}

.btnVideo__Active {
    background-color: #9ab9e9;
}

// .muiSvgIcon {
//     background-color: red;
//     font-size: 1.8rem !important;
// }
/* START NAVIGATION */
