@import 'normalize.css';
@import url('https://use.typekit.net/waz4tsx.css');
:root {
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;    
}
body {
    font-family: ibm-plex-sans, sans-serif;
    font-size: 1.6rem;
}
